flows.json
[{"id":"d5b9c9fd.c67c38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db5e541b.a98708","type":"ui_group","z":"","name":"Predict used vehicle price","tab":"2521f5fb.8f71ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"2521f5fb.8f71ea","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"86515680.905a88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e46d7922.420768","type":"function","z":"d5b9c9fd.c67c38","name":"PreToken","func":"global.set(\"dcc\",msg.payload.dcc)\nglobal.set(\"ne\",msg.payload.ne)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"ab\",msg.payload.ab)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yor\",msg.payload.yor)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"md\",msg.payload.md)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mor\",msg.payload.mor)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"npd\",msg.payload.npd)\nglobal.set(\"dc\",msg.payload.dc)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"yPIJ5yJVHYPTfzLDYFE4KN1E-iR4MGGCje4GB6jg8U9T\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["d628bf68.531b1"]]},{"id":"d628bf68.531b1","type":"http request","z":"d5b9c9fd.c67c38","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["794942ab.5f691c"]]},{"id":"9e8c478.504d8b8","type":"inject","z":"d5b9c9fd.c67c38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["e46d7922.420768"]]},{"id":"25cdc9f4.f5ec46","type":"debug","z":"d5b9c9fd.c67c38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":30.99999713897705,"wires":[]},{"id":"794942ab.5f691c","type":"function","z":"d5b9c9fd.c67c38","name":"Pre Prediction","func":"var dcc = global.get('dcc')\nvar ne = global.get('ne')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar ab = global.get('ab')\nvar vt = global.get('vt')\nvar yor = global.get('yor')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar md = global.get('md')\nvar km = global.get('km')\nvar mor = global.get('mor')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar npd = global.get('npd')\nvar dc = global.get('dc')\nvar nop = global.get('nop')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"f5b67b19-1bf2-4581-80b4-70b7a799074e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"datecrawled\", \"name\", \"seller\", \"offertype\",\"abtest\",\"vehicleType\",\"yearofregistration\",\"gearbox\",\"powerps\",\"model\",\"kilometer\",\"monthofregistration\",\"fueltype\",\"brand\",\"notrepairdamage\",\"datecreated\",\"nrofpictures\",\"postalcode\",\"lastseen\"], \"values\": [[dcc,ne,se,ot,ab,vt,yor,gb,pp,md,km,mor,ft,br,npd,dc,nop,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[["b28c49dc.5f4d68"]]},{"id":"b28c49dc.5f4d68","type":"http request","z":"d5b9c9fd.c67c38","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/113807c3-9f43-4332-9ae9-a5a049267e89/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":195.99999904632568,"wires":[["da28b01c.21922","25cdc9f4.f5ec46"]]},{"id":"e794bc58.bc11","type":"ui_form","z":"d5b9c9fd.c67c38","name":"","label":"","group":"db5e541b.a98708","order":1,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dcc","type":"date","required":true,"rows":null},{"label":"name","value":"ne","type":"text","required":true,"rows":null},{"label":"seller","value":"se","type":"text","required":true,"rows":null},{"label":"offertype","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"ab","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearofregistration","value":"yor","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerps","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"md","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthofregistration","value":"mor","type":"number","required":true,"rows":null},{"label":"fueltype","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notrepairdamage","value":"npd","type":"text","required":true,"rows":null},{"label":"datecreated","value":"dc","type":"date","required":true,"rows":null},{"label":"nrofpictures","value":"nop","type":"number","required":true,"rows":null},{"label":"postalcode","value":"pc","type":"number","required":true,"rows":null},{"label":"lastseen","value":"ls","type":"date","required":true,"rows":null}],"formValue":{"dcc":"","ne":"","se":"","ot":"","ab":"","vt":"","yor":"","gb":"","pp":"","md":"","km":"","mor":"","ft":"","br":"","npd":"","dc":"","nop":"","pc":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["e46d7922.420768"]]},{"id":"3041bacb.828a36","type":"ui_text","z":"d5b9c9fd.c67c38","group":"db5e541b.a98708","order":2,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":360,"wires":[]},{"id":"da28b01c.21922","type":"function","z":"d5b9c9fd.c67c38","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":91.60000133514404,"wires":[["25cdc9f4.f5ec46","3041bacb.828a36"]]}]